@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@62..125,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #459cff;
    color: white;
    size: 100vi;
}
.cabecalho{
    background-color: #95c5fc;
    display: flex;
    flex-direction: column;
    color: rgb(6, 0, 111);
    align-items: center;
    font-family: "Archivo", sans-serif;
    font-weight: 900;
    font-size: 1rem;

}
.titulo {
    margin: 1% 0 1% 0;
}
.subtitulo {
    font-size: 1rem;
    margin: 0 15% 1% 15%;
}
.meio{

display: flex;
flex-direction: column;
justify-content: center;
margin: 5%;
}
.texto_1{

    margin: 0 15%;
    font-family: "Archivo", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;

}
.imagens {
    margin: 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem {
    margin: 5% 0;
    width: 33%;
    height: 15vh;
    border: 1vh solid #001730;
}
.imagem1 {
    margin: 5% 0;
    width: 33%;
    height: 15vh;
    border: 1vh solid #001730;
    border-radius: 10% 0 0 10%;
}
.imagem3 {
    margin: 5% 0;
    width: 33%;
    height: 15vh;
    border: 1vh solid #001730;
    border-radius: 0 10% 10% 0;
}
.rodape {
    background-color: #0e5ab0;
    color: #001730;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div_botoes {
    display: flex;
    gap: 10px;
}
.link_1 {
    display: inline;
    font-family: "Archivo", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 20%;
    background-color: #459cff;
    background-size: 100%;
    background-position-y: 50%;
    width: 10vw;
    height: 15vh;
    margin-bottom: 10%;
    background-image: url(logoprovisora.png);
    text-decoration: none;
}
.link_1:hover {
    height: 20vh;
    width: 18vw;
}
.link_2 {
    display: inline;
    font-family: "Archivo", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 20%;
    background-color: #80f293;
    background-size: 100%;
    background-position-y: 50%;
    width: 10vw;
    height: 15vh;
    margin-bottom: 10%;
    background-image: url(todaslogosjuntas.png);
    text-decoration: none;
}
.link_2:hover {
    height: 20vh;
    width: 18vw;
}

.rodape_texto {
    margin: 2%;
}