@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@62..125,100..900&display=swap');
* {
    margin: 0%;
    padding: 0%;
}
body {
    background-color: #1d1d1d;
    color: white;
}

.cabecalho {
    background-color: #212121;
    display: flex;
    justify-content: center;
   
}
.titulo {
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    gap: 2%;
}
.logoheader {
    width: 5%;
}
.meio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.titulo__meio {
    font-family: "Archivo", sans-serif;
    margin: 2%;
    font-weight: 600;
    font-size: 3rem;
}
.texto_1 {
    margin: 0 15% 0 15%;
    font-family: "Archivo", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}
.texto_com_foto {
    display: flex;
    gap: 7%;
}

.texto_2 {
    margin: 0 0 0 15% ;
    width: 30%;
    font-size: 1.5rem;
}
.logomain {
    width: 25%;
}
.texto_projetos {
    margin: 0 15% 0 15%;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    font-size: 2rem;
}
.div_botoes {
    display: flex;
    gap: 10px;
}
.link_1 {
    display: inline;
    font-family: "Archivo", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 20%;
    background-color: #459cff;
    background-size: 100%;
    background-position-y: 50%;
    width: 10vw;
    height: 18vh;
    margin-bottom: 10%;
    background-image: url(stripedbass_scaled_31x_pngcrushed.png);
    text-decoration: none;
}
.link_1:hover {
    height: 25vh;
    width: 20vw;
}
.link_2 {
    display: inline;
    font-family: "Archivo", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 20%;
    background-color: #80f293;
    background-size: 100%;
    background-position-y: 50%;
    width: 10vw;
    height: 18vh;
    margin-bottom: 10%;
    background-image: url(todaslogosjuntas.png);
    text-decoration: none;
}
.link_2:hover {
    height: 25vh;
    width: 20vw;
}